# /node_modules
# /public/build
# /public/hot
# /public/storage
# /storage/*.key
# /vendor
# .env
# .env.backup
# .env.production
# .phpunit.result.cache
# Homestead.json
# Homestead.yaml
# auth.json
# npm-debug.log
# yarn-error.log
# /.fleet
# /.idea
# /.vscode
/vendor/fakerphp/faker/rector-migrate.php
/vendor/nesbot/carbon/src/Carbon/Traits/MagicParameter.php
/vendor/phpunit/phpunit/src/Framework/MockObject/Exception/ClassIsReadonlyException.php
